@import 'src/styles/_constants.scss';
@import 'src/styles/_mixins.scss';

.root {
  @include toastMessageContainer($background-blue, $primary-blue);

  .messageContainer {
    display: flex;
    align-items: center;

    .warningIcon {
      height: toRem(20);
      width: toRem(20);
      margin-right: toRem(10);
    }

    .paragraph {
      color: $primary-blue;
    }
  }

  .crossIcon {
    @include toastMessageCrossIcon($primary-blue);
  }
}
