/* WebFont: redHatText-Italic */
@font-face {
  font-family: 'RedHatText-Italic';
  src: url('../assets/fonts/RedHatText-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* WebFont: redHatText */
@font-face {
  font-family: 'RedHatText';
  src: url('../assets/fonts/RedHatText-VariableFont_wght.ttf')
    format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* webFont: inter */
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* WebFont: Ubuntu-Bold */
@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('../assets/fonts/Ubuntu-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* WebFont: Ubuntu-BoldItalic */
@font-face {
  font-family: 'Ubuntu-BoldItalic';
  src: url('../assets/fonts/Ubuntu-BoldItalic.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* WebFont: Ubuntu-Regular */
@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('../assets/fonts/Ubuntu-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* WebFont: Ubuntu-Italic */
@font-face {
  font-family: 'Ubuntu-Italic';
  src: url('../assets/fonts/Ubuntu-Italic.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* WebFont: Ubuntu-Light */
@font-face {
  font-family: 'Ubuntu-Light';
  src: url('../assets/fonts/Ubuntu-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* WebFont: Ubuntu-LightItalic */
@font-face {
  font-family: 'Ubuntu-LightItalic';
  src: url('../assets/fonts/Ubuntu-LightItalic.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* WebFont: Ubuntu-Medium */
@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('../assets/fonts/Ubuntu-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* WebFont: Ubuntu-MediumItalic */
@font-face {
  font-family: 'Ubuntu-MediumItalic';
  src: url('../assets/fonts/Ubuntu-MediumItalic.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
