@import 'src/styles/_constants.scss';
@import 'src/styles/_mixins.scss';

.widgetContainer {
  width: 25%;
  height: toRem(120);
  padding: toRem(16);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: space-between;

  .infoWrapper {
    display: flex;
    flex-direction: column;
    row-gap: toRem(12);

    .value {
      font-size: x-large;
      font-weight: 900;
    }
  }

  .iconWrapper {
    background-color: $background-light-violet;
    padding: toRem(12) toRem(8);
    border-radius: 4px;
    height: toRem(36);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
